# Ignore node_modules
node_modules/
client/node_modules/
server/node_modules/

# Ignore environment variables
.env

# Ignore build outputs
dist/
build/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
